@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#spinner {
  animation: spinner;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#myGradient {
  animation: gradient;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dasharray: 70;
  }
  50% {
    transform: rotate(180deg);
    stroke-dasharray: 130;
  }
  75% {
    stroke-dasharray: 25;
  }
  100% {
    transform: rotate(360deg);
    stroke-dasharray: 70;
  }
}

@keyframes gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}